/*********************************  ADMIN CSS  **********************************************/

/* background image for admin login form */


#myInsertForm{
	background-color: rgba(0,0,0,0.7);
	padding: 10px;
	;
}



#dashboard_container{
	background-image: url(../img/6.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			height: 100vh;

}

